backups/Node-Red Flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "76d83c43ca4a1532",
        "type": "MySQLdatabase",
        "name": "erpnext",
        "host": "erpnextdb",
        "port": "3306",
        "db": "_dc54e3ae4a9024bb",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "6f7806280f30426f",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "postgres",
        "hostFieldType": "str",
        "port": 5432,
        "portFieldType": "num",
        "database": "postgresDB",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": 10,
        "maxFieldType": "num",
        "idle": 1000,
        "idleFieldType": "num",
        "connectionTimeout": 10000,
        "connectionTimeoutFieldType": "num",
        "user": "postgresUser",
        "userFieldType": "str",
        "password": "postgresPass",
        "passwordFieldType": "str"
    },
    {
        "id": "c6bd986dfb721183",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "42f5e323fe14f836",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "356953d5ecead285",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "c6bd986dfb721183",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "42f5e323fe14f836",
        "breakpoints": [
            {
                "name": "Default",
                "px": 0,
                "cols": 3
            },
            {
                "name": "Tablet",
                "px": 576,
                "cols": 6
            },
            {
                "name": "Small Desktop",
                "px": 768,
                "cols": 9
            },
            {
                "name": "Desktop",
                "px": 1024,
                "cols": 12
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "e4d0bf09784dc535",
        "type": "mysql",
        "z": "f6f2187d.f17ca8",
        "mydb": "76d83c43ca4a1532",
        "name": "erp",
        "x": 1330,
        "y": 540,
        "wires": [
            [
                "4e08139f622adf10",
                "1f3b3ff8cd620456"
            ]
        ]
    },
    {
        "id": "3bf6c603dfb9e0ac",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 1",
        "func": "// Extract table name from inject\nconst tableName = msg.payload.table_name;\n\n// Store table name for later use\nflow.set('currentTable', tableName);\n\n// Query to get schema information from MySQL\n// MySQL node expects query in msg.topic\nmsg.topic = `DESCRIBE \\`${tableName}\\`;`;\n\n// Indicator for switch\nmsg.step = 'describe'\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 620,
        "wires": [
            [
                "e4d0bf09784dc535"
            ]
        ]
    },
    {
        "id": "c9a92e8dc7983bd4",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"table_name\": \"tabCompany\"}",
        "payloadType": "json",
        "x": 910,
        "y": 680,
        "wires": [
            [
                "3bf6c603dfb9e0ac"
            ]
        ]
    },
    {
        "id": "e5469cab12d2def3",
        "type": "postgresql",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "query": "",
        "postgreSQLConfig": "6f7806280f30426f",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 2030,
        "y": 540,
        "wires": [
            [
                "30cc8d1d0ab2997b",
                "13a40c705b1e42e5"
            ]
        ]
    },
    {
        "id": "efae1d2ff7d78969",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 2",
        "func": "const tableName = flow.get('currentTable');\n\nconst typeMapping = {\n    'varchar': 'VARCHAR',\n    'char': 'CHAR',\n    'int': 'INTEGER',\n    'bigint': 'BIGINT',\n    'smallint': 'SMALLINT',\n    'tinyint': 'SMALLINT',\n    'mediumint': 'INTEGER',\n    'datetime': 'TIMESTAMP',\n    'timestamp': 'TIMESTAMP',\n    'text': 'TEXT',\n    'mediumtext': 'TEXT',\n    'longtext': 'TEXT',\n    'tinytext': 'TEXT',\n    'decimal': 'NUMERIC',\n    'numeric': 'NUMERIC',\n    'float': 'REAL',\n    'double': 'DOUBLE PRECISION',\n    'date': 'DATE',\n    'time': 'TIME',\n    'year': 'SMALLINT',\n    'blob': 'BYTEA',\n    'mediumblob': 'BYTEA',\n    'longblob': 'BYTEA',\n    'tinyblob': 'BYTEA',\n    'binary': 'BYTEA',\n    'varbinary': 'BYTEA',\n    'enum': 'VARCHAR',\n    'set': 'VARCHAR',\n    'json': 'JSONB',\n    'bool': 'BOOLEAN',\n    'boolean': 'BOOLEAN'\n};\n\nlet columns = msg.payload.map(col => {\n    let typeMatch = col.Type.match(/^(\\w+)(\\((.+)\\))?/);\n    let baseType = typeMatch[1].toLowerCase();\n    let typeParams = typeMatch[3];\n    \n    let pgType = typeMapping[baseType] || 'TEXT';\n    \n    if (typeParams && (pgType === 'VARCHAR' || pgType === 'CHAR' || pgType === 'NUMERIC')) {\n        pgType += `(${typeParams})`;\n    }\n    \n    let nullable = col.Null === 'YES' ? '' : ' NOT NULL';\n    \n    let defaultValue = '';\n    if (col.Default !== null && col.Default !== undefined) {\n        if (col.Default === 'CURRENT_TIMESTAMP') {\n            defaultValue = ' DEFAULT CURRENT_TIMESTAMP';\n        } else if (typeof col.Default === 'string') {\n            defaultValue = ` DEFAULT '${col.Default}'`;\n        } else {\n            defaultValue = ` DEFAULT ${col.Default}`;\n        }\n    }\n    \n    let primaryKey = col.Key === 'PRI' ? ' PRIMARY KEY' : '';\n    \n    return `\"${col.Field}\" ${pgType}${nullable}${defaultValue}${primaryKey}`;\n});\n\nconst createStatement = `CREATE TABLE IF NOT EXISTS \"${tableName}\" (${columns.join(', ')})`;\n\n// PostgreSQL node expects query in msg.query\nmsg.query = createStatement;\n\nnode.warn(`Creating table: ${tableName}`);\n\n// Indicator for switch node\nmsg.step = 'create'\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1760,
        "y": 480,
        "wires": [
            [
                "e5469cab12d2def3"
            ]
        ]
    },
    {
        "id": "90acc16baddad137",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 3",
        "func": "const tableName = flow.get('currentTable');\n\n// Query to get all data from the MySQL table\n// MySQL node expects query in msg.topic\nmsg.topic = `SELECT * FROM \\`${tableName}\\``;\n\n// Indicator for switch node\nmsg.step = 'selectRows'\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 620,
        "wires": [
            [
                "e4d0bf09784dc535"
            ]
        ]
    },
    {
        "id": "55507fbe9e1c4e5a",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 4",
        "func": "const tableName = flow.get('currentTable');\nconst rows = msg.payload;\n\nif (!rows || rows.length === 0) {\n    node.warn(`No data to insert for table: ${tableName}`);\n    msg.payload = null;\n    return msg;\n}\n\nconst columns = Object.keys(rows[0]);\nconst columnList = columns.map(col => `\"${col}\"`).join(', ');\n\nlet values = [];\n\nrows.forEach(row => {\n    let rowValues = columns.map(col => {\n        let value = row[col];\n        \n        if (value === null || value === undefined) {\n            return 'NULL';\n        }\n        \n        if (value instanceof Date) {\n            return `'${value.toISOString()}'`;\n        }\n        \n        if (typeof value === 'string') {\n            return `'${value.replace(/'/g, \"''\")}'`;\n        }\n        \n        if (typeof value === 'boolean') {\n            return value ? 'TRUE' : 'FALSE';\n        }\n        \n        return value;\n    });\n    \n    values.push(`(${rowValues.join(', ')})`);\n});\n\nconst insertStatement = `INSERT INTO \"${tableName}\" (${columnList}) VALUES ${values.join(', ')} ON CONFLICT DO NOTHING`;\n\n// PostgreSQL node expects query in msg.query\nmsg.query = insertStatement;\n\nnode.warn(`Inserting ${rows.length} rows into ${tableName}`);\n\n// Indicator for switch node\nmsg.step = 'insert'\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1760,
        "y": 600,
        "wires": [
            [
                "e5469cab12d2def3"
            ]
        ]
    },
    {
        "id": "6ca14fc8e8d968b6",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "url": "/import-data",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 870,
        "y": 620,
        "wires": [
            [
                "3bf6c603dfb9e0ac"
            ]
        ]
    },
    {
        "id": "0fcff936e1296208",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 2240,
        "y": 560,
        "wires": []
    },
    {
        "id": "03525da7a95c652d",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "url": "/erp-schema",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 860,
        "y": 540,
        "wires": [
            [
                "c8bf2335d3cc19f9"
            ]
        ]
    },
    {
        "id": "c8bf2335d3cc19f9",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 5",
        "func": "msg.topic = `\nSELECT table_name\nFROM information_schema.tables t\nWHERE t.table_schema = '_dc54e3ae4a9024bb'\nAND t.table_name LIKE 'tab%'\nAND EXISTS (\n    SELECT 1\n    FROM information_schema.columns c\n    WHERE c.table_schema = t.table_schema\n    AND c.table_name = t.table_name\n    AND c.column_name = 'docstatus'\n)\nAND (\n    -- Core manufacturing only\n    table_name IN (\n        'tabBOM',\n        'tabWork Order',\n        'tabJob Card',\n        'tabProduction Plan',\n        'tabWorkstation',\n        'tabOperation',\n        'tabItem',\n        'tabWarehouse',\n        'tabStock Ledger Entry',\n        'tabBin',\n        'tabSales Order',\n        'tabPurchase Order',\n        'tabCompany',\n        'tabUOM'\n    )\n    OR table_name LIKE 'tabBOM %'  -- BOM Item, BOM Operation, etc.\n    OR table_name LIKE 'tabStock Entry%'\n    OR table_name LIKE 'tabBatch%'\n    OR table_name LIKE 'tabSerial%'\n)\nORDER BY \n    CASE \n        WHEN table_name = 'tabCompany' THEN 1\n        WHEN table_name = 'tabUOM' THEN 2\n        WHEN table_name = 'tabItem' THEN 3\n        WHEN table_name = 'tabWarehouse' THEN 4\n        WHEN table_name = 'tabWorkstation' THEN 5\n        WHEN table_name = 'tabOperation' THEN 6\n        WHEN table_name = 'tabBOM' THEN 7\n        WHEN table_name LIKE 'tabBOM %' THEN 8\n        WHEN table_name = 'tabSales Order' THEN 9\n        WHEN table_name = 'tabPurchase Order' THEN 10\n        WHEN table_name = 'tabProduction Plan' THEN 11\n        WHEN table_name = 'tabWork Order' THEN 12\n        WHEN table_name = 'tabJob Card' THEN 13\n        WHEN table_name = 'tabStock Ledger Entry' THEN 14\n        WHEN table_name = 'tabBin' THEN 15\n        ELSE 100\n    END,\n    table_name;\n`;\n\nmsg.step = 'get'\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 540,
        "wires": [
            [
                "e4d0bf09784dc535"
            ]
        ]
    },
    {
        "id": "c00feba8191ad1fc",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 1760,
        "y": 400,
        "wires": []
    },
    {
        "id": "c2818379bd632b04",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"table_name\": \"tabCustomer\"}",
        "payloadType": "json",
        "x": 930,
        "y": 480,
        "wires": [
            [
                "a4e4f805325591c2"
            ]
        ]
    },
    {
        "id": "7d5d3fc993f5de8d",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1760,
        "y": 340,
        "wires": []
    },
    {
        "id": "b684d23daa55aef0",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "url": "/full-erp-schema",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 880,
        "y": 420,
        "wires": [
            [
                "a4e4f805325591c2"
            ]
        ]
    },
    {
        "id": "a4e4f805325591c2",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 6",
        "func": "msg.topic = `\nSELECT table_name\nFROM information_schema.tables t\nWHERE t.table_schema = '_dc54e3ae4a9024bb'\nAND t.table_name LIKE 'tab%'\nAND EXISTS (\n    SELECT 1\n    FROM information_schema.columns c\n    WHERE c.table_schema = t.table_schema\n    AND c.table_name = t.table_name\n    AND c.column_name = 'docstatus'\n)\n`;\n\nmsg.step = 'get'\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 420,
        "wires": [
            [
                "e4d0bf09784dc535"
            ]
        ]
    },
    {
        "id": "4e08139f622adf10",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "step",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "get",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "describe",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "selectRows",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1510,
        "y": 540,
        "wires": [
            [
                "c00feba8191ad1fc",
                "7d5d3fc993f5de8d"
            ],
            [
                "efae1d2ff7d78969"
            ],
            [
                "55507fbe9e1c4e5a"
            ]
        ]
    },
    {
        "id": "1f3b3ff8cd620456",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 460,
        "wires": []
    },
    {
        "id": "30cc8d1d0ab2997b",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2020,
        "y": 460,
        "wires": []
    },
    {
        "id": "13a40c705b1e42e5",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "insert",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "create",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 2230,
        "y": 620,
        "wires": [
            [
                "0fcff936e1296208"
            ],
            [
                "90acc16baddad137"
            ]
        ]
    },
    {
        "id": "411c69421dd063d6",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-mysql": "3.0.0",
            "node-red-contrib-postgresql": "0.15.4",
            "@flowfuse/node-red-dashboard": "1.30.2"
        }
    }
]